*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
#container{
    width:100%;
    height:100%;
    background:#1a1a34;
}
#login-container{
    background:#1c1c3a;
    color:white;
    width:35vw;
    height:100vh;
    box-shadow: 15px 0 50px black;
    text-align:center;
    align-items: center;
}
.login-filler{
    width:100%;
    height:10vh;
    padding-bottom:30vh;
}
.login-box{
    text-align:left;
    padding:5vh 5vh 5vh 5vh;
}
.login-box h1{
    font-size:8vh;
    font-weight: 100;
}
.login-box h3{
    font-size:3vh;
    font-weight: 100;
}
input[type=text], input[type=password]{
    width:100%;
    padding:12px 20px;
    margin: 8px 0;
    display:inline-block;
    border:1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    background:#1c1c3a;
    color:#ccc;
    font-weight: bold;
}

button {
    background:#4e4ee9;
    color:white;
    padding:14px 20px;
    margin: 8px 0;
    border: none;
    cursor:pointer;
    width:100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width:auto;
    padding: 10px 18px;
    background:#f44336;
}
.imgcontainer {
    text-align:center;
    margin:24px 0 12px 0;
}
img.avatar {
    width: 40%;
    border-radius: 50%;
  }
.Login-Conitainer{
    padding: 16px;
}

.error{
    color:red;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    MARGIN:20px 0;
}
.psw a:link{
    text-decoration: none;
    color:white;
}
.psw a:visited{
    text-decoration: none;
    color:white;
}
.psw a:hover{
    text-decoration: none;
    opacity: 0.86;
}

@media screen and (max-width: 300px){
    span.psw{
        display: block;
        float:none;
    }
    .cancelbtn{
        width:100%;
    }
}